# StudyFlow backend API — the source of truth for the app/backend contract (issue #63).
#
# The client models in :core:network are hand-written against this document, and
# OpenApiContractTest fails the build when the client calls an operation this file does not
# describe. Changing the contract therefore starts here, not in Kotlin.
openapi: 3.1.0
info:
  title: StudyFlow API
  version: 1.0.0
  description: |
    Versioning and deprecation policy.

    * The major version is part of the path (`/v1/...`). A breaking change ships as `/v2` and the
      two versions run side by side.
    * Within a major version the server may only add: new endpoints, new optional request fields
      and new response fields. Clients ignore unknown response fields, so an additive change never
      breaks an installed app.
    * A deprecated operation keeps working for at least two release trains. It answers with a
      `Deprecation` header and, once removed, with `410 Gone` carrying the `endpoint_removed`
      error code.
    * Every response carries `X-Minimum-Client-Version`. A client older than that version must stop
      calling the API and show the force-upgrade screen; the server also answers
      `426 Upgrade Required` if such a client keeps calling.
servers:
  - url: https://api.studyflow.dev
    description: Production
  - url: http://10.0.2.2:8080
    description: Local mock backend, reachable from an emulator without a code change

security:
  - bearerAuth: []

paths:
  /v1/auth/refresh:
    post:
      operationId: refreshTokens
      summary: Exchange a refresh token for a new access token
      security: []
      parameters:
        - $ref: '#/components/parameters/ClientVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
      responses:
        '200':
          description: A new token pair
          headers:
            X-Minimum-Client-Version:
              $ref: '#/components/headers/MinimumClientVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokens'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'

  /v1/subjects:
    get:
      operationId: listSubjects
      summary: The signed-in user's subjects
      parameters:
        - $ref: '#/components/parameters/ClientVersion'
      responses:
        '200':
          description: Every subject the user owns
          headers:
            X-Minimum-Client-Version:
              $ref: '#/components/headers/MinimumClientVersion'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Subject'
        default:
          $ref: '#/components/responses/Error'

  /v1/tasks:
    get:
      operationId: listTasks
      summary: The signed-in user's study tasks
      parameters:
        - $ref: '#/components/parameters/ClientVersion'
        - name: subjectId
          in: query
          required: false
          schema:
            type: string
          description: Restricts the result to one subject
      responses:
        '200':
          description: Matching tasks
          headers:
            X-Minimum-Client-Version:
              $ref: '#/components/headers/MinimumClientVersion'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
        default:
          $ref: '#/components/responses/Error'

  /v1/sessions:
    post:
      operationId: uploadSession
      summary: Upload a finished study session
      parameters:
        - $ref: '#/components/parameters/ClientVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudySession'
      responses:
        '200':
          description: The stored session, as the server sees it
          headers:
            X-Minimum-Client-Version:
              $ref: '#/components/headers/MinimumClientVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudySession'
        '409':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'

  /v1/storage/initUpload:
    post:
      operationId: initUpload
      summary: Validate and open a multipart upload
      parameters:
        - $ref: '#/components/parameters/ClientVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitUploadRequest'
      responses:
        '200':
          description: Short-lived URLs for every checksummed part
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSession'
        '413':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'

  /v1/storage/completeUpload:
    post:
      operationId: completeUpload
      summary: Verify and finalize an owned multipart upload
      parameters:
        - $ref: '#/components/parameters/ClientVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteUploadRequest'
      responses:
        '200':
          description: Verified object metadata; thumbnail generation has been queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoredObject'
        default:
          $ref: '#/components/responses/Error'

  /v1/storage/getDownloadUrl:
    post:
      operationId: getDownloadUrl
      summary: Issue a short-lived URL for an owned, visible object
      parameters:
        - $ref: '#/components/parameters/ClientVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectRequest'
      responses:
        '200':
          description: A ten-minute download URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresignedUrl'
        '404':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'

  /v1/storage/delete:
    post:
      operationId: deleteObject
      summary: Delete an owned object
      parameters:
        - $ref: '#/components/parameters/ClientVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectRequest'
      responses:
        '204':
          description: Deleted, or the object was already absent
        default:
          $ref: '#/components/responses/Error'

  /v1/sync/sessions:
    get:
      operationId: pullSessionChanges
      summary: Session changes recorded after a cursor
      description: |
        The inbound half of offline-first sync (issue #55). Changes are returned oldest first and
        the cursor is opaque to the client, which stores it verbatim and sends it back, so the
        server may change how it paginates without an app release.

        A client that is already up to date receives an empty `changes` array and the cursor it
        sent, which is how "nothing changed" costs one conditional request and no data.
      parameters:
        - $ref: '#/components/parameters/ClientVersion'
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Opaque position from the previous delta; omitted on a first sync
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
          description: Maximum number of changes to return; the server may return fewer
      responses:
        '200':
          description: The next page of changes
          headers:
            X-Minimum-Client-Version:
              $ref: '#/components/headers/MinimumClientVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncDelta'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: pushSessionChanges
      summary: Upload a batch of local session changes
      description: |
        The outbound half of offline-first sync (issue #55). The server resolves every change by
        last-write-wins on `updatedAt` with `deviceId` as the tie-break, so replaying a batch it
        already applied is a no-op and a client may safely retry one it never got an answer for.

        Only completed sessions may be sent: a running or paused session belongs to the device it
        runs on, and the server rejects one with `active_session_not_syncable`.
      parameters:
        - $ref: '#/components/parameters/ClientVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncPushRequest'
      responses:
        '200':
          description: Which changes the server stored, and which its own newer state beat
          headers:
            X-Minimum-Client-Version:
              $ref: '#/components/headers/MinimumClientVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncPushResponse'
        default:
          $ref: '#/components/responses/Error'

  /v1/account:
    delete:
      operationId: deleteAccount
      summary: Delete the signed-in account and everything stored for it
      description: |
        The server half of the data-lifecycle flow (issue #78). Deletes the account, every row
        owned by it and every object stored for it, then answers with the retention window after
        which the last copy — backups included — is gone.

        Idempotent: a repeated request for an account that is already scheduled for deletion
        answers with the same receipt rather than an error, because the client retries whenever it
        could not confirm that the first request arrived.

        The client clears its local data only after this call succeeds, so a failure here must
        leave the account usable.
      parameters:
        - $ref: '#/components/parameters/ClientVersion'
      responses:
        '200':
          description: The deletion was accepted
          headers:
            X-Minimum-Client-Version:
              $ref: '#/components/headers/MinimumClientVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDeletionReceipt'
        default:
          $ref: '#/components/responses/Error'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    ClientVersion:
      name: X-Client-Version
      in: header
      required: true
      description: Version of the calling build, as `major.minor.patch`
      schema:
        type: string
        examples: ['1.4.0']

  headers:
    MinimumClientVersion:
      description: Oldest client version the server still serves, as `major.minor.patch`
      schema:
        type: string
        examples: ['1.4.0']

  responses:
    Error:
      description: A structured error. Clients map `code` to a message; they never show the status.
      headers:
        X-Minimum-Client-Version:
          $ref: '#/components/headers/MinimumClientVersion'
        Retry-After:
          description: Seconds to wait before retrying, sent with 429 and 503
          schema:
            type: integer
            format: int64
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

  schemas:
    AccountDeletionReceipt:
      type: object
      required: [acceptedAt, retentionWindowDays]
      properties:
        acceptedAt:
          type: string
          format: date-time
          description: When the server accepted the deletion.
        retentionWindowDays:
          type: integer
          format: int32
          description: |
            Days until the last copy, backups included, is unrecoverable. Shown to the user,
            because "deleted" and "unrecoverable" are different dates.
          examples: [30]

    ApiError:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: Stable machine-readable code; new codes may appear at any time.
          examples: ['invalid_credentials', 'quota_exceeded', 'endpoint_removed']
        message:
          type: string
          description: Operator-facing detail. Never shown to the user verbatim.
        details:
          type: object
          additionalProperties:
            type: string

    RefreshRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken:
          type: string

    AuthTokens:
      type: object
      required: [accessToken, refreshToken, expiresInSeconds]
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        expiresInSeconds:
          type: integer
          format: int64

    Subject:
      type: object
      required: [id, name]
      properties:
        id:
          type: string
        name:
          type: string
        colorHex:
          type: string
          examples: ['#2E7D32']

    Task:
      type: object
      required: [id, subjectId, title, completed]
      properties:
        id:
          type: string
        subjectId:
          type: string
        title:
          type: string
        completed:
          type: boolean
        dueAt:
          type: string
          format: date-time

    StudySession:
      type: object
      required: [id, subjectId, startedAt, focusedSeconds]
      properties:
        id:
          type: string
        subjectId:
          type: string
        startedAt:
          type: string
          format: date-time
        endedAt:
          type: string
          format: date-time
        focusedSeconds:
          type: integer
          format: int64

    InitUploadRequest:
      type: object
      required: [contentHash, contentType, sizeBytes, partChecksums]
      properties:
        contentHash:
          type: string
          pattern: '^[0-9a-f]{64}$'
        contentType:
          type: string
        sizeBytes:
          type: integer
          format: int64
          minimum: 1
          maximum: 52428800
        partChecksums:
          type: array
          description: Base64 SHA-256 for each 8 MiB part, in order.
          items:
            type: string

    UploadSession:
      type: object
      required: [uploadId, expiresAt, parts]
      properties:
        uploadId:
          type: string
          format: uuid
        expiresAt:
          type: string
          format: date-time
        parts:
          type: array
          items:
            $ref: '#/components/schemas/SignedPart'

    SignedPart:
      type: object
      required: [number, offset, size, url, expiresAt, requiredHeaders]
      properties:
        number:
          type: integer
          minimum: 1
        offset:
          type: integer
          format: int64
        size:
          type: integer
          format: int64
        url:
          type: string
          format: uri
        expiresAt:
          type: string
          format: date-time
        requiredHeaders:
          type: object
          description: Headers covered by the URL signature and required on the part PUT.
          additionalProperties:
            type: string

    CompleteUploadRequest:
      type: object
      required: [uploadId, parts]
      properties:
        uploadId:
          type: string
          format: uuid
        parts:
          type: array
          items:
            type: object
            required: [number, etag]
            properties:
              number:
                type: integer
                minimum: 1
              etag:
                type: string

    ObjectRequest:
      type: object
      required: [contentHash]
      properties:
        contentHash:
          type: string
          pattern: '^[0-9a-f]{64}$'

    StoredObject:
      type: object
      required: [contentHash, contentType, sizeBytes]
      properties:
        contentHash:
          type: string
        contentType:
          type: string
        sizeBytes:
          type: integer
          format: int64

    PresignedUrl:
      type: object
      required: [url, expiresAt]
      properties:
        url:
          type: string
          format: uri
        expiresAt:
          type: string
          format: date-time
    SyncSession:
      type: object
      required: [id, deviceId, updatedAt, startedAt, status]
      description: |
        A study session plus its append-only event log. The log is the source of truth and the
        flat fields are a fold of it, so both travel together.
      properties:
        id:
          type: string
        deviceId:
          type: string
          description: The device whose log produced the session; the conflict tie-break.
        updatedAt:
          type: string
          format: date-time
          description: Last local modification; the primary conflict term.
        startedAt:
          type: string
          format: date-time
        endedAt:
          type: string
          format: date-time
        status:
          type: string
          enum: [RUNNING, PAUSED, STOPPED]
          description: Only STOPPED is accepted; an active session is never synced.
        subjectId:
          type: string
        taskId:
          type: string
        note:
          type: string
        deleted:
          type: boolean
          description: A tombstone, so a deletion replicates instead of being resurrected.
        manualOverride:
          type: boolean
        countedMillis:
          type: integer
          format: int64
          description: Folded duration; authoritative when manualOverride is true.
        unverifiedMillis:
          type: integer
          format: int64
          description: Time the sending device could not vouch for; never folded into countedMillis.
        events:
          type: array
          items:
            $ref: '#/components/schemas/SyncSessionEvent'

    SyncSessionEvent:
      type: object
      required: [id, sessionId, type, sequence, wallClock, uptimeMillis, bootId]
      description: One append-only log entry. Merged by union on id; never overwritten.
      properties:
        id:
          type: string
        sessionId:
          type: string
        type:
          type: string
          enum: [STARTED, PAUSED, RESUMED, BREAK_STARTED, FOCUS_RESUMED, ACTIVITY_CONFIRMED, STOPPED]
        sequence:
          type: integer
          format: int64
        wallClock:
          type: string
          format: date-time
        uptimeMillis:
          type: integer
          format: int64
        bootId:
          type: string

    SyncPushRequest:
      type: object
      required: [deviceId, changes]
      properties:
        deviceId:
          type: string
        changes:
          type: array
          items:
            $ref: '#/components/schemas/SyncSession'

    SyncPushResponse:
      type: object
      properties:
        acceptedIds:
          type: array
          items:
            type: string
        rejectedIds:
          type: array
          description: Changes the server's own newer state beat; the next delta carries the winner.
          items:
            type: string

    SyncDelta:
      type: object
      properties:
        changes:
          type: array
          items:
            $ref: '#/components/schemas/SyncSession'
        nextCursor:
          type: string
          description: Opaque; store verbatim and send it back on the next pull.
        hasMore:
          type: boolean
